* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Abril Fatface', cursive;
}

body {
  /* poner una imagen */
  background:url(../img/paisaje.jpg) #000;
  background-size: 100% 100%;
  background-attachment: fixed;
  color: #fff;
  font-size: 18px;
  
}

.wrap {
  width: 90%;
  max-width: 1000px;
  /*margin: auto;*/
  -webkit-box-reflect: below 1px linear-gradient(transparent,	rgb(255, 204, 204, 0.5));
}

.widget {
  width: 40%;
  margin: 2em;
  /*margin: 32px;*/
}

.widget p {
  display: inline-block;
  line-height: 1em;
}


.fecha {
  font-family: Oswald, Arial;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 0.3125rem;
  /*margin-bottom: 5px;*/
  background: rgba(109, 104, 253, 0.2);
  padding:20px;
  width: 100%;
  border-radius: 20%;
}

.fecha:hover{
  background: rgba(100, 232, 255, 0.3);
  color: blue;;
}

.reloj {
  font-family: Oswald,Arial;
  width: 100%;
  padding: 20px;
  font-size: 4em;
  text-align: center;
  background: rgba(126, 98, 251, 0.2);
  border-radius: 20%;
}

.reloj:hover{
  background:rgba(100, 232, 255, 0.3);
  color: blue;
}

.reloj .caja-der {
  display: inline-block;
}

.reloj .segundo,
.reloj .ampm {
  font-size: 2rem;
  display:block;
}
